body {
	margin:0px;
	padding:0px;
	color:black; 
	font-family: Verdana, Arial, Sans-serif;
	font-style: normal;
	font-size: 12pt;
}
p {
	font-family: Verdana, Arial, Sans-serif;
	font-style: normal;
	font-size: 12pt;
}
pre {
	font-family: Verdana, Arial, Sans-serif;
	font-style: normal;
	font-size: 12pt;
}
#nav { 
	margin: 0px 394px 0px 0px; 
	width:50%;
}
#sources { 
	margin:0px;
	padding:0px;
	float:left;  
	width:50%; 
	max-height:500px;
	overflow:auto; 
}
#collection { 
	margin:0px;
	padding:0px;
	width:50%; 
	max-height:500px;
	overflow:auto; 
}
#item { 
	float:right; 
	margin:0px; 
	padding:0px; 
	width:50%; 
	max-height:500px;
	overflow:auto; 
}
#cleaner { 
	clear:both; 
}
.btn { 
	margin:3px; 
	padding:2px 3px 1px 3px;
	border-style:solid;
	border-color:#BBBBBB;
	border-width:1px 3px 3px 1px; 
}
.hasnew {
	padding:0px 0px 0px 3px;
	border-style:solid;
	border-color:red;
	border-width:0px 0px 0px 4px; 
}
.notnew {
	padding:0px 0px 0px 3px;
	border-style:solid;
	border-color:grey;
	border-width:0px 0px 0px 4px; 
}
.new {
	padding:0px 0px 0px 3px;
	border-style:solid;
	border-color:red;
	border-width:0px 0px 0px 4px; 
}
.seen {
	padding:0px 0px 0px 3px;
	border-style:solid;
	border-color:grey;
	border-width:0px 0px 0px 4px; 
}
